@import 'assets/styles/mixins.scss';

.workspace-shop {
    line-height: 1.2;
    .workspace-shop_name {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    .workspace-shop_address {
        font-size: 0.8rem;
    }
}



