@import 'assets/styles/mixins.scss';

.basketItem {
    .name {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.9rem;
        width: 37%
    }
    .quantity {
        width: 31%;
    }
    .price {
        font-size: 1rem;
        font-weight: bold;
        width: 30%;
    }
    .remove {
        width: 12%;
    }
}
