@import 'assets/styles/mixins.scss';

.workspace-daily-planning {
    line-height: 1.2;
    .workspace-daily-planning_title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
}



