.uploadArea {
    .uploadImageIcon {
        color: #999;
        font-size: 32px;
    }
    .uploadText {
        margin-top: 8px;
        color: #666;
    }
    .ant-upload.ant-upload-select-picture-card {
        height: 150px;
        width: 150px;
    }
}
