@import 'assets/styles/mixins.scss';

.workspace-layout {
    .workspace-layout__header {
        background: transparent;
        border-bottom: 1px solid $gray-border;
        height: auto;
        margin-bottom: 1rem;
    }
    .workspace-layout__content {
        padding-right: 0.75rem;
    }
    .workspace-layout__aside {
        background: transparent;
        margin-right: 0.75rem;
    }
}



