.categoriesMenu {
    height: 100%;
    background: transparent;

    .categoriesMenuItem {
        font-size: 0.9rem;
        height: 35px;
        line-height: 35px;
        padding-left: 20px;
    }
}
